<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <link rel='stylesheet' href='./css/style.css'>
    </head>
    <body>
        {{>header}}
        <img src='/img/robot.png'>
        {{>footer}}
    </body>
</html>