<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input type="text" name="address" placeholder="Enter Location to Search" required>
            <input type="submit" value="Get Weather">
        </form>
        <p>Use this site to get your weather!</p>
    </div>

    {{>footer}}
    <script src="/js/script.js"></script>
</body>

</html>